		<div class="phone-box wrap push">
		    
		    <!-- nav -->
			<div class="navtop">
				<div class="nav-left">
					<a href="#menu" class="menu-link"><img src="/assets/left-top.gif" class="nav-img"/></a>
				</div>
				<div class="nav-name">
					<h5 class="pro-link">FOODDUCK</h5>
				</div>
				<div class="nav-right">
				    <a href="/home/result"><img src="/assets/my-page.gif" class="nav-img"/></a>
				</div>
				<div class="clearfix"></div>
			</div> 
	        <div style="min-height: 500px;
			     display:-webkit-flex;
			     display:flex;
			     -webkit-align-items:center;
			     align-items:center;
			     -webkit-justify-content:center;
			     justify-content:center;
			     background-color: white;"
			     >
                <div>
                    <img src="/assets/barcode.png">
	            </div>
	        </div>
		</div>	
<script>
window.setTimeout(function() {
    window.location.href = '/home/result';
}, 2000);
</script>

