		<div class="phone-box wrap push">
		    
		    <!-- nav -->
			<div class="navtop">
				<div class="nav-left">
					<a href="#menu" class="menu-link"><img src="/assets/left-top.gif" class="nav-img"/></a>
				</div>
				<div class="nav-name">
					<h5 class="pro-link">CATEGORY</h5>
				</div>
				<div class="nav-right">
				    <a href="/home/result"><img src="/assets/my-page.gif" class="nav-img"/></a>
				</div>
				<div class="clearfix"></div>
			</div> 
	        <div style="min-height: 500px;
			     display:-webkit-flex;
			     display:flex;
			     -webkit-align-items:center;
			     align-items:center;
			     -webkit-justify-content:center;
			     justify-content:center;
		         background-color: white;"
			     >
	            <ul class="category_ul">
                    <li class="category_item">생수</li>
                    <li class="category_item">음료</li>
                    <li class="category_item">유제품</li>
                    <li class="category_item">분유</li>
                    <li class="category_item">과자</li>
                    <li class="category_item">시리얼</li>
                    <li class="category_item">초콜릿</li>
                    <li class="category_item">빵</li>
                    <li class="category_item">라면</li>
                    <li class="category_item">통조림</li>
                    <li class="category_item">조미료</li>
                    <li class="category_item">장류</li>
                    <li class="category_item">냉동</li>
                    <li class="category_item">간편식</li>
                    <li class="category_item">커피류</li>
                    <li class="category_item">냉장</li>
                </ul>
	        </div>
	            
		</div>	