		<div class="phone-box wrap push">
		    
		    <!-- nav -->
			<div class="navtop">
				<div class="nav-left">
					<a href="#menu" class="menu-link"><img src="/assets/left-top.gif" class="nav-img"/></a>
				</div>
				<div class="nav-name">
					<h5 class="pro-link">CHECKLIST</h5>
				</div>
				<div class="nav-right">
				    <a href="/home/result"><img src="/assets/my-page.gif" class="nav-img"/></a>
				</div>
				<div class="clearfix"></div>
			</div> 
	        <div style="min-height: 500px; min-width:375px;
		         background-image:url(/assets/each_checklist.PNG);
		         background-repeat:no-repeat;
		         background-position: 13px 10px;
		         background-color: white;"
			     >
	                    <div class="food_check" >
	                        <div class="check_title_box">
	                            <h5>남편 당뇨</h5>
	                            <button id="제목수정버튼" class="edit_title"><img class="edit_title_img" src="/assets/addcheck.png"></button>
	                            <button id="리스트삭제버튼" class="edit_title" style="right: 30px; top: 136px"><img class="edit_title_img" src="/assets/trashcan.png"></button>
	                        </div>
        			    	<table border="0" width="100%"class="food_check_table">
	                            <tr onclick="DoNav('/home/성분백과1')">
	                            <td class="food_check_line indent">1. 니코틴산아미드 
	                            <button id="성분백과버튼" class="edit_additive"><img class="edit_additive_img" style="height: 30px;" src="/assets/arrow_check.PNG"></button>
	                            <button id="성분삭제버튼" class="edit_additive" style="right: 16px; top: 2px"><img class="edit_additive_img" src="/assets/trashcan.png"></button> 
	                            </td>
	                            </tr>
	                            <tr onclick="DoNav('/home/성분백과2')">
	                            <td class="food_check_line indent">2. 마리네이드
	                            <button id="성분백과버튼" class="edit_additive"><img class="edit_additive_img" style="height: 30px;" src="/assets/arrow_check.PNG"></button>
	                            <button id="성분삭제버튼" class="edit_additive" style="right: 16px; top: 2px"><img class="edit_additive_img" src="/assets/trashcan.png"></button> </td>
	                            </tr>
	                            <tr onclick="DoNav('/home/성분백과3')">
	                            <td class="food_check_line indent">3. 사이토키닌
	                            <button id="성분백과버튼" class="edit_additive"><img class="edit_additive_img" style="height: 30px;" src="/assets/arrow_check.PNG"></button>
	                            <button id="성분삭제버튼" class="edit_additive" style="right: 16px; top: 2px"><img class="edit_additive_img" src="/assets/trashcan.png"></button> </td>
	                            </tr>
	                            <tr onclick="DoNav('/home/성분백과4')">
	                            <td class="food_check_line indent">4. 칼리레아드
	                            <button id="성분백과버튼" class="edit_additive"><img class="edit_additive_img" style="height: 30px;" src="/assets/arrow_check.PNG"></button>
	                            <button id="성분삭제버튼" class="edit_additive" style="right: 16px; top: 2px"><img class="edit_additive_img" src="/assets/trashcan.png"></button> </td>
	                            </tr>

                      		</table>
        		        </div>
        		        <button id="myBtn" class="add_check"><img class="add_check_img" src="/assets/addcheck.png"></button>
        		      
	        </div>
		</div>	
		
    <!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog" style="margin-top: 50%;">
		        <div class="modal-content">
		            <div class="modal-header" class="checkmodal" style="background-color: #fdd020; border-bottom: 1px solid #fdd020;">
		                <h4 class="modal-title" id="myModalLabel" 
		                style="text-align: center;
							    font-family: 'Noto Sans Korean', 'Open Sans', sans-serif;
							    font-weight: 200;
							    color: #fff;
							    font-size: 20px;"
					    >체크리스트 성분 추가</h4>
		            </div>
		            <div class="modal-body" class="checkmodal" style="background-color: #fdd020;">
		                <input type="text" class="form-control" placeholder="추가할 성분을 입력하세요">
		            </div>
		            <div class="modal-footer" class="checkmodal" style="background-color: #fdd020; border-top: 1px solid #fdd020;">
		                
		                <button type="button" class="btn btn-default" data-dismiss="modal"
		                	style="background-color: white;
		                	margin-left: 10px;
						    text-align: center;
						    font-family: 'Noto Sans Korean', 'Open Sans', sans-serif;
						    font-weight: 200;
						    color: #fdd020;
						    font-size: 20px;
						    border: none"
						    >성분백과</button>
						    
		                <a href="home/checklist3"><button type="button" class="btn btn-primary"
		                	style="background-color: white;
						    text-align: center;
						    font-family: 'Noto Sans Korean', 'Open Sans', sans-serif;
						    font-weight: 200;
						    color: #fdd020;
						    font-size: 20px;
					        border: none;"
						    >추가하기</button></a>
		            </div>
		        </div>
		    </div>
		</div>

<script>
// when DOM is ready
$(document).ready(function () {

     // Attach Button click event listener 
    $("#myBtn").click(function(){

         // show Modal
         $('#myModal').modal('show');
    });
});
</script>
