
<div class="body-back">
	<div class="masthead pdng-stn1">
		<!--사이드바-->
		<div id="menu" class="sidenav" role="navigation">
			<div class="wrap-content">
				<div class="nav-menu text-center">
					<img class="nav-profile img-circle border-effect" src="/assets/ilguk.png" alt=" ">
						<img class="side-go nav-camera" onclick="DoNav('/home/myprofile')" src="/assets/camera.gif" alt=" ">
						<p class="nav-nickname">삼둥파파</p>
						<button class="nav-proedit-btn" onclick="DoNav('/home/myprofile')">프로필 편집</button>
					
					<div class="side-go" onclick="DoNav('/home/myfood')">
						<img class="side-nemo" src="/assets/my_food.png" alt=" ">
							<p class="side-nemo-label">마이푸드</p>
					</div>	
					<div class="side-go" onclick="DoNav('/home/checklist')">
						<img class="side-nemo" src="/assets/checklist.gif" alt=" ">
							<p class="side-nemo-label">체크리스트</p>
					</div>
					<div class="side-go" onclick="DoNav('/home/qna')">
						<img class="side-nemo" src="/assets/qna.png" alt=" ">
							<p class="side-nemo-label">Q&A</p>
					</div>
					<div class="side-go" onclick="DoNav('/home/setting')">
						<img class="side-nemo" src="/assets/setting.png" alt=" ">
							<p class="side-nemo-label">설정</p>
					</div>

				</div>
				</div>
			</div>
		</div>
		
		
		<div class="phone-box wrap push">
		    
		    <!-- nav -->
			<div class="navtop">
				<div class="nav-left">
					<a href="#menu" class="menu-link"><img src="/assets/left-top.gif" class="nav-img"/></a>
				</div>
				<div class="nav-name">
					<div class="nav_dic">
						<a  style="text-decoration: none"><h5 class="pro-link"> DICTIONARY </h5></a>
					</div>
				</div>
				<div class="nav-right">
				    <a href="/home/index"><img src="/assets/go-home.gif" class="nav-img"/></a>
					
				</div>
				<div class="clearfix"></div>
			</div> 
			
			<!--리얼 바디-->
			<div class="main-grid">
				<div class="main-shade">
						<div class="food_search">
								<form>
									<input type="search" placeholder="검색어를 입력해주세요!" >
									  <a href="/home/dic_id"><input type="submit" value=" "></a>
  									<div class="search_click" onclick="DoNav('/home/dic_id')"></div>
								</form>
						</div>
						<div class="search_rec">
								<p>
									<a href="/home/dic_id" class="search_rec_k"> 구연산 </a>
									<a href="/home/dic_id" class="search_rec_k"> 사이토키닌 </a>
									<a href="/home/dic_id" class="search_rec_k"> 팜유 </a>
									<a href="/home/dic_id" class="search_rec_k"> 아질산나트륨 </a>
								</p>
						</div>
						
						<!-- 성분 상세 -->
						<div class="dic_spec">
							<div class="dic_tmp">
								<p class="dicdic"> 성분사전 </p>
								<div class="dic_title">
								    <p> 
								    구연산 </br>
								    [citric acid]
								    </p>
								</div>
							</div>
							
							<div>
								<p class="speedwagon">
									결정물(일수염)과 무수물이 있고, 각각을 결정구연산과 무수구연산이라고 한다. 산미료. </br></br>
									구연산(결정) : 청량음료수, 혼성주, 캔디, 젤리, 잼, 빙과, 통조림 등의 산성조미료 및 식용유의 산패방지제(synergist)로서 사용. </br>
									구연산(무수) : 분말주스, 가루발포주스, 분말셔벗, 분말케첩, 추잉껌 등 수분을 싫어하는 식품이나 가루식품의 산미료로 사용한다. </br></br>
									결정수가 없기 때문에 구연산(결정)보다도 산도는 강하고 사용시에는 약 10% 적어도 된다. 사용기준은 없다. 
									무색투명의 결정, 알맹이 또는 덩어리, 또는 백색의 결정선분말 또는 분말로, 무취, 강한 산미를 가진다. 맛의 한계값 : 0.0025% </br></br>
								</p>
							</div>
						</div>
						
        		       
        		        <div class="foot">
        		        	
        		        </div>
				</div>	    
			    
			</div>
			
		
				
  </div>
</div>
</div>

<script src="/assets/jquery.nicescroll.js"></script>
<script src="/assets/scripts.js"></script>
