
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  <!-- isotope CDN -->
  <script src="https://npmcdn.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>
</head>

<body>
	<div class="body-back">
		<div class="masthead pdng-stn1">
			<!--사이드바-->
			<div id="menu" class="sidenav" role="navigation">
				<div class="wrap-content">
				<div class="nav-menu text-center">
					<img class="nav-profile img-circle border-effect" src="/assets/ilguk.png" alt=" ">
					<img class="side-go nav-camera" onclick="DoNav('/home/myprofile')" src="/assets/camera.gif" alt=" ">
						<p class="nav-nickname">삼둥파파</p>
						<button class="nav-proedit-btn" onclick="DoNav('/home/myprofile')">프로필 편집</button>
					
					<div class="side-go" onclick="DoNav('/home/myfood')">
						<img class="side-nemo" src="/assets/my_food.png" alt=" ">
							<p class="side-nemo-label">마이푸드</p>
					</div>	
					<div class="side-go" onclick="DoNav('/home/checklist')">
						<img class="side-nemo" src="/assets/checklist.gif" alt=" ">
							<p class="side-nemo-label">체크리스트</p>
					</div>
					<div class="side-go" onclick="DoNav('/home/qna')">
						<img class="side-nemo" src="/assets/qna.png" alt=" ">
							<p class="side-nemo-label">Q&A</p>
					</div>
					<div class="side-go" onclick="DoNav('/home/setting')">
						<img class="side-nemo" src="/assets/setting.png" alt=" ">
							<p class="side-nemo-label">설정</p>
					</div>

				</div>
				</div>
			</div>
		</div>
			
			
			<div class="phone-box wrap push">
			    
			    <!-- nav -->
				<div class="navtop">
					<div class="nav-left">
						<a href="#menu" class="menu-link"><img src="/assets/left-top.gif" class="nav-img"/></a>
					</div>
					<div class="nav-name">
						<div class="nav_dic">
							<h5 class="pro-link"> DICTIONARY </h5>
						</div>
					</div>
					<div class="nav-right">
					    <a href="/home/index"><img src="/assets/go-home.gif" class="nav-img"/></a>
					
					</div>
					<div class="clearfix"></div>
				</div> 
				
				<!--리얼 바디-->
				<div class="main-grid">
					<div class="main-shade">
							<div class="food_search">
									<form>
									<input type="search" placeholder="검색어를 입력해주세요!" >
									  <a href="/home/dic_search"><input type="submit" value=" "></a>
  									<div class="search_click" onclick="DoNav('/home/dic_search')"></div>
								</form>
							</div>
							<div class="search_rec">
									<p>
										<a href="/home/dic_id" class="search_rec_k">구연산 </a>
										<a href="/home/dic_id" class="search_rec_k">사이토키닌</a>
										<a href="/home/dic_id" class="search_rec_k">팜유</a>
										<a href="/home/dic_id" class="search_rec_k">아질산나트륨</a>
									</p>
							</div>
											
							<!-- 가나다순 -->
							<div class="big-demo" data-js-module="hero-demo">
								
							  <div id="food_han" style="border:none;">
							  	<table border="0" width="400" class="food_article_table">
								    <div class="filters button-group js-radio-button-group">
								      <button class="btn_al button is-checked" data-filter="*">*</button>
								      <button class="btn_al button" data-filter=".ㄱ">ㄱ</button>
								      <button class="btn_al button" data-filter=".ㄴ">ㄴ</button>
								      <button class="btn_al button" data-filter=".ㄷ">ㄷ</button>
								      <button class="btn_al button" data-filter=".ㄹ">ㄹ</button>
								      <button class="btn_al button" data-filter=".ㅁ">ㅁ</button>
								      <button class="btn_al button" data-filter=".ㅂ">ㅂ</button>
								      <button class="btn_al button" data-filter=".ㅅ">ㅅ</button>
								      <button class="btn_al button" data-filter=".ㅇ">ㅇ</button>
								      <button class="btn_al button" data-filter=".ㅈ">ㅈ</button>
								      <button class="btn_al button" data-filter=".ㅊ">ㅊ</button>
								      <button class="btn_al button" data-filter=".ㅋ">ㅋ</button>
								      <button class="btn_al button" data-filter=".ㅌ">ㅌ</button>
								      <button class="btn_al button" data-filter=".ㅍ">ㅍ</button>
								      <button class="btn_al button" data-filter=".ㅎ">ㅎ</button>
								    </div>
							    </table>
							  </div>
							
							  <div class="hohoho grid" style="margin-top: -14px;">
							  	<div class="element-item transition ㄱ " data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename elename">구연산</h5>
							        <p class="symbol">1</p>
							      </div>
							      <div class="element-item transition ㅋ " data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">카제인나트륨</h5>
							        <p class="symbol">4</p>
							      </div>
							      <div class="element-item transition ㄷ " data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">데히드로초산나트륨</h5>
							        <p class="symbol">2</p>
							      </div><div class="element-item transition ㄷ " data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">둘신</h5>
							        <p class="symbol">1</p>
							      </div>
							      <div class="element-item transition ㅅ " data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">소르빈산칼륨</h5>
							        <p class="symbol">3</p>
							      </div>
							      <div class="element-item transition ㅅ " data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">사카린나트륨</h5>
							        <p class="symbol">1</p>
							      </div>
							      <div class="element-item transition ㅅ " data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">사이클레메이트</h5>
							        <p class="symbol">2</p>
							      </div>
							      <div class="element-item transition ㅎ " data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">히드록시톨루엔</h5>
							        <p class="symbol">2</p>
							      </div>
							      <div class="element-item transition ㅍ " data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">프로피온산나트륨</h5>
							        <p class="symbol">1</p>
							      </div>
							      <div class="element-item transition ㅍ " data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">파라메틸아세토페논</h5>
							        <p class="symbol">3</p>
							      </div>
							      <div class="element-item transition ㄱ " data-category="metalloid" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">과소산</h5>
							        <p class="symbol">2</p>
							      </div>
							      <div class="element-item transition ㅁ " data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">멘톨</h5>
							        <p class="symbol">2</p>
							      </div>
							      <div class="element-item transition ㅁ " data-category="metalloid" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">메타인산나트륨</h5>
							        <p class="symbol">5</p>
							      </div>
							      <div class="element-item transition ㅁ " data-category="metalloid" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">메톡사이드나트륨</h5>
							        <p class="symbol">5</p>
							      </div>
							      <div class="element-item transition ㄴ " data-category="metalloid" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">나트륨</h5>
							        <p class="symbol">5</p>
							      </div>
							      <div class="element-item transition ㄴ" data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">나린진</h5>
							        <p class="symbol">3</p>
							      </div>
							      <div class="element-item transition ㄹ" data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">라이소자임</h5>
							        <p class="symbol">2</p>
							      </div>
							      <div class="element-item transition ㄹ" data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">락티톨</h5>
							        <p class="symbol">3</p>
							      </div>
							      <div class="element-item transition ㄹ" data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">로릴황산나트륨</h5>
							        <p class="symbol">1</p>
							      </div>
							      <div class="element-item transition ㅈ" data-category="post-transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">진수화제</h5>
							        <p class="symbol">2</p>
							      </div>
							      <div class="element-item transition ㅈ" data-category="post-transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">진탄화제</h5>
							        <p class="symbol">3</p>
							      </div>
							      <div class="element-item transition ㅇ" data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">아스파탐</h5>
							        <p class="symbol">3</p>
							      </div>
							      <div class="element-item transition ㅇ" data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">아질산나트륨</h5>
							        <p class="symbol">1</p>
							      </div>
							      <div class="element-item transition ㅇ" data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">아토산나트륨</h5>
							        <p class="symbol">3</p>
							      </div>
							      <div class="element-item transition ㅌ" data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">탄산수소나트륨</h5>
							        <p class="symbol">2</p>
							      </div>
							      <div class="element-item transition ㅌ" data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">타르색소</h5>
							        <p class="symbol">3</p>
							      </div>
							      <div class="element-item transition ㅊ" data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">차아염소산나트륨</h5>
							        <p class="symbol">4</p>
							      </div>
							      <div class="element-item transition ㅊ" data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">차카테킨</h5>
							        <p class="symbol">2</p>
							      </div>
							      <div class="element-item transition ㅊ" data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">초산게라닐</h5>
							        <p class="symbol">1</p>
							      </div>
							      <div class="element-item transition ㅂ" data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">부틸히드록시아니졸</h5>
							        <p class="symbol">3</p>
							      </div>
							      <div class="element-item transition ㅋ" data-category="alkali" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">칼리산</h5>
							        <p class="symbol">2</p>
							      </div>
							      <div class="element-item transition ㅋ" data-category="alkali" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">코민스탄</h5>
							        <p class="symbol">3</p>
							      </div>
							      <div class="element-item transition ㅂ" data-category="transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">발루타민산</h5>
							        <p class="symbol">5</p>
							      </div>
							      <div class="element-item transition ㅎ" data-category="post-transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">하이드록시시트로넬랄</h5>
							        <p class="symbol">3</p>
							      </div>
							      <div class="element-item transition ㅎ" data-category="post-transition" onclick="DoNav('/home/dic_id')" style="cursor:pointer;">
							        <h5 class="name elename">헤미셀룰라아제</h5>
							        <p class="symbol">2</p>
							      </div>
							  
							  </div>
							
							</div>
							
							  </div> 

							</div> 	
											
											
					    
	        		        <div class="dicfoot">
	        		        	
	        		        </div>
					</div>	    
				    
				</div>


<div class="each_product">
					
	  </div>
	</div>
	</div>
	<script src="/assets/jquery.nicescroll.js"></script>
	<script src="/assets/scripts.js"></script>
	
	<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
	<script src="/assets/isotope-docs.min.js"></script>
	<script src="/assets/isotope.pkgd.js"></script>


</body>