
	<div class="container">
		<div class="login-back">
			<div class="login-inner" id="about">
				<img src="/assets/logoduck.gif" class="logoduck" alt=" " />
				<h3>FOODDUCK</h3>
				<div class="login-btn-container">
					<div class="login-btn">
				      <div class="slider"></div>
				      <div class="label"> <a href="/users/sign_in" style="text-decoration: none">로그인</a></div>
				    </div>
				</div>
				<div class="login-btn-container signin">
				    <div class="login-btn">
				      <div class="slider"></div>
				      <div class="label"> <a href="/users/sign_up" style="text-decoration: none">회원가입</a></div>
				    </div>
				</div>
			</div>
		</div>
	</div>


