<body>
<div class="body-back">
	<div class="masthead pdng-stn1">
		
		<!--사이드바-->
		<div id="menu" class="panel" role="navigation">
			<div class="wrap-content">
				<div class="nav-menu text-center">
					<img class="img-circle border-effect" src="/assets/pic3.png" alt=" ">
						<h3>John Leo</h3>
						<p>Admin</p>
						<div class="pro-menu">
							<div class="logo">
								<li><a class=" link link--yaku scroll active" href="#home"><span>H</span><span>o</span><span>m</span><span>e</span></a></li>
								<li><a class=" link link--yaku scroll" href="#about"><span>A</span><span>b</span><span>o</span><span>u</span><span>t</span></a></li>
								<li><a class=" link link--yaku scroll" href="#service"><span>S</span><span>e</span><span>r</span><span>v</span><span>i</span><span>c</span><span>e</span><span>s</span></a></li>
								<li><a class=" link link--yaku scroll" href="#recipes"><span>O</span><span>u</span><span>r</span> <span>R</span><span>e</span><span>c</span><span>i</span><span>p</span><span>e</span><span>s</span></a></li>
								<li><a class=" link link--yaku scroll" href="#gallery"><span>G</span><span>a</span><span>l</span><span>l</span><span>e</span><span>r</span><span>y</span></a></li>
								<li><a class=" link link--yaku scroll" href="#contact"><span>C</span><span>o</span><span>n</span><span>t</span><span>a</span><span>c</span><span>t</span></a></li>
							</div>
				

						</div>
				</div>
			</div>
		</div>
		
		
		<div class="phone-box wrap push">
		    
		    <!-- nav -->
			<div class="navtop">
				<div class="nav-left">
					<a href="#menu" class="menu-link"><img src="/assets/left-top.gif" class="nav-img"/></a>
				</div>
				<div class="nav-name">
					<h5 class="pro-link">FOODDUCK</h5>
				</div>
				<div class="nav-right">
				    <a href="/home/result"><img src="/assets/my-page.gif" class="nav-img"/></a>
					<div id="dd1" class="wrapper-dropdown-1" tabindex="1"><i class="fa fa-user"></i>
						<ul class="dropdown">
							<li><a href="#">Edit nav </a></li>
							<li><a href="#">Help</a></li>
							<li><a href="#">Activity log</a></li>
							<li><a href="/users/sign_out">Log Out</a></li>
						</ul>
							<script type="text/javascript">
														function DropDown(el) {
															this.dd = el;
															this.initEvents();
														}
														DropDown.prototype = {
															initEvents : function() {
																var obj = this;
											
																obj.dd.on('click', function(event){
																	$(this).toggleClass('active');
																	event.stopPropagation();
																});	
															}
														}
														$(function() {
											
															var dd = new DropDown( $('#dd1') );
											
															$(document).click(function() {
																// all dropdowns
																$('.wrapper-dropdown-1').removeClass('active');
															});
											
														});
							</script>
					</div>
				</div>
				<div class="clearfix"></div>
			</div> 
			
			<!--리얼 바디-->
			<div class="main-grid">
				<div class="main-shade">
						<div class="food_search">
								<form>
									<input type="search" value="검색어를 입력해주세요!" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '검색어를 입력해주세요!';}" required="">
									<input type="submit" value=" ">
									<div class="search_click"></div>
								</form>
						</div>
						<div class="search_rec">
								<p>
									<a href="http://m.naver.com" class="search_rec_k">#아기과자</a>
									<a href="http://m.naver.com" class="search_rec_k">#과자</a>
									<a href="http://m.naver.com" class="search_rec_k">#GMO</a>
									<a href="http://m.naver.com" class="search_rec_k">#감자칩</a>
								</p>
						</div>
				    
				        <div class="hot_food">
				            <img src="/assets/hot_food_label.gif" class="hot_food_label"/> 
                            <article id="cc-slider">
                              <input checked="checked" name="cc-slider" id="slide1" type="radio">
                              <input name="cc-slider" id="slide2" type="radio">
                              <input name="cc-slider" id="slide3" type="radio">
                              <input name="cc-slider" id="slide4" type="radio">
                              <input name="cc-slider" id="slide5" type="radio">
                              <div id="cc-slides">
                                <div id="overflow">
                                  <div class="inner">
                                    <article>
                                      <div class="cctooltip">
                                        <h3>Amazing / Photoshop / Photography</h3>
                                        <h4>By <a href="#">codeconvey</a></h4>
                                      </div>
                                      <img src="/assets/hot_food/seu_ggang.png"> 
                                    </article>
                                    <article>
                                      <div class="cctooltip">
                                        <h3>Abstract Retro Photography</h3>
                                        <h4>By <a href="#">codeconvey</a></h4>
                                      </div>
                                      <img src="/assets/hot_food/o_tang.png"> </article>
                                    <article>
                                      <div class="cctooltip">
                                        <h3>Street Photography</h3>
                                        <h4>By <a href="#">codeconvey</a></h4>
                                      </div>
                                      <img src="/assets/hot_food/no_buttercoo.png"> </article>
                                    <article>
                                      <div class="cctooltip">
                                        <h3>Portrait / Woman / Photography</h3>
                                        <h4>By <a href="#">codeconvey</a></h4>
                                      </div>
                                      <img src="/assets/hot_food/corn_mayo.png"> </article>
                                    <article>
                                      <div class="cctooltip">
                                        <h3>Fashion / Sport / Photography</h3>
                                        <h4>By <a href="#">codeconvey</a></h4>
                                      </div>
                                      <img src="/assets/hot_food/cucu.png"> </article>
                                  </div>
                                </div>
                              </div>
                              <div id="controls">
                                <label for="slide1"></label>
                                <label for="slide2"></label>
                                <label for="slide3"></label>
                                <label for="slide4"></label>
                                <label for="slide5"></label>
                              </div>
                            </article>	
                        </div>
				
        			    
        			    <div class="food_article">
        			        <table border="0" width="400" class="food_article_table">
                            <tr onclick="DoNav('http://m.news.naver.com/read.nhn?mode=LSD&mid=sec&sid1=102&oid=020&aid=0002990803')">
                            <td class="food_article_line indent">해태제과 ‘홈런볼 저지방우유’ 회수 조치…왜?</td>
                            </tr>
                            <tr onclick="DoNav('http://m.news.naver.com/read.nhn?mode=LSD&mid=sec&sid1=102&oid=003&aid=0007359622')">
                            <td class="food_article_line indent">참기름서 발암물질 '벤조피렌' 초과 검출…회수</td>
                            </tr>
                            <tr onclick="DoNav('http://m.news.naver.com/read.nhn?mode=LSD&mid=sec&sid1=102&oid=310&aid=0000048082')">
                            <td class="food_article_line indent">삼진식품 어묵 회수…유통기한 지난 원료 써</td>
                            </tr>
                            <tr onclick="DoNav('http://m.news.naver.com/read.nhn?mode=LSD&mid=sec&sid1=101&oid=421&aid=0001861760')">
                            <td class="food_article_line indent">유통기한 속인 초코파이·유산균제품</td>
                            </tr>
                            <tr onclick="DoNav('http://m.news.naver.com/read.nhn?mode=LSD&mid=sec&sid1=103&oid=468&aid=0000171216')">
                            <td class="indent">삼복더위와 함께 찾아오는 식중독 예방법</td>
                            </tr>
                      </table>
        		        </div>
        		        
        		         <div class="food_dic_label">
        		         	<p>성분백과
        		         	<button class="food_dic_label_btn">더 보기</button>
        		         	</p>
        		         </div>
        		         <div class="food_dic">
        			     		<table border="0" width="400" class="food_article_table">
                            <tr onclick="DoNav('http://m.news.naver.com/read.nhn?mode=LSD&mid=sec&sid1=102&oid=020&aid=0002990803')">
                            <td class="food_dic_line indent">구연산 (Citric acid)</td>
                            </tr>
                            <tr onclick="DoNav('http://m.news.naver.com/read.nhn?mode=LSD&mid=sec&sid1=102&oid=003&aid=0007359622')">
                            <td class="food_dic_line indent">사이토키닌 (Cytokinin)</td>
                            </tr>
                            <tr onclick="DoNav('http://m.news.naver.com/read.nhn?mode=LSD&mid=sec&sid1=102&oid=310&aid=0000048082')">
                            <td class="food_dic_line indent">팜유 (Palm oil)</td>
                            </tr>
                            <tr onclick="DoNav('http://m.news.naver.com/read.nhn?mode=LSD&mid=sec&sid1=101&oid=421&aid=0001861760')">
                            <td class="food_dic_line indent">마리네이드 (Marinade)</td>
                            </tr>
                            <tr onclick="DoNav('http://m.news.naver.com/read.nhn?mode=LSD&mid=sec&sid1=103&oid=468&aid=0000171216')">
                            <td class="indent">니코틴산아미드 (Nicotinic acid amide)</td>
                            </tr>
                      </table>
        		        </div>
				</div>	    
			    
			</div>
			
		
				
  </div>
</div>
</div>
<script src="/assets/jquery.nicescroll.js"></script>
<script src="/assets/scripts.js"></script>
</body>
</html>