<head>
	<link rel="stylesheet" type="text/css" href="assets/myfood.css">
</head>

<body>
	<!--사이드바-->
		<div id="menu" class="sidenav" role="navigation">
			<div class="wrap-content">
				<div class="nav-menu text-center">
					<img class="nav-profile img-circle border-effect" src="/assets/ilguk.png" alt=" ">
						<img class="side-go nav-camera" onclick="DoNav('/home/myprofile')" src="/assets/camera.gif" alt=" ">
						<p class="nav-nickname">삼둥파파</p>
						<button class="nav-proedit-btn" onclick="DoNav('/home/myprofile')">프로필 편집</button>
					
					<div class="side-go" onclick="DoNav('/home/myfood')">
						<img class="side-nemo" src="/assets/my_food.png" alt=" ">
							<p class="side-nemo-label">마이푸드</p>
					</div>	
					<div class="side-go" onclick="DoNav('/home/checklist')">
						<img class="side-nemo" src="/assets/checklist.gif" alt=" ">
							<p class="side-nemo-label">체크리스트</p>
					</div>
					<div class="side-go" onclick="DoNav('/home/qna')">
						<img class="side-nemo" src="/assets/qna.png" alt=" ">
							<p class="side-nemo-label">Q&A</p>
					</div>
					<div class="side-go" onclick="DoNav('/home/setting')">
						<img class="side-nemo" src="/assets/setting.png" alt=" ">
							<p class="side-nemo-label">설정</p>
					</div>

				</div>
				</div>
			</div>
		</div>
		
		
		<div class="phone-box wrap push">
		    
		    <!-- nav -->
			<div class="navtop">
				<div class="nav-left">
					<a href="#menu" class="menu-link"><img src="/assets/left-top.gif" class="nav-img"/></a>
				</div>
				<div class="nav-myfood-name">
					<h5 class="pro-link">MYFOOD</h5>
				</div>
				<!--<div class="nav-myfood-name">-->
				<!--	<h5 class="myfood-link"> MY FOOD </h5>-->
				<!--</div>-->
				<div class="nav-right">
				    <a href="/home/index"><img src="/assets/go-home.gif" class="nav-img"/></a>
				
				</div>
				<div class="clearfix"></div>
			</div>
			
						<!-- TAB JS -->
						<!-- assets/easyResponsiveTabs2.js -->
						<script src="/assets/easyResponsiveTabs2.js" type="text/javascript"></script>
						<script type="text/javascript">
							$(document).ready(function () {
								$('#horizontalTab').easyResponsiveTabs({
									type: 'default', //Types: default, vertical, accordion           
									width: 'auto', //auto or any width like 600px
									fit: true   // 100% fit in a container
								});
							});
						</script>
						<!-- TAB JS -->
						
						<div class="small_menu">
								<div id="horizontalTab">
									  <ul class="small_menu_list">
										  <li class="small_menu_item small_menu_active" aria-controls="smenu_item_0" role="tab"><span> 관심상품 </span></li>
										  <li class="small_menu_item" aria-controls="smenu_item_1" role="tab"><span> 주의상품 </span></li>
										  <li class="small_menu_item" aria-controls="smenu_item_2" role="tab"><span> 나의리뷰 </span></li>
										  <div class="clearfix"></div>
									  </ul>	
									  
									<div class="small_menu_container">
										
										<!-- 관심상품 -->
										<h2 class="small_menu_accordion small_menu_active" role="tab" aria-controls="smenu_item_0"><span class="small_menu_arrow"></span></h2>
										<div class="menu_tab_1 small_menu_content small_menu_content_active" aria-labelledby="smenu_item_0" style="display:block">
											<div class="menu_img">
												<div class="menu_each_product">
														
														<div class="each_product">
															<div class="product_left">
																<img class="product_pic" src="/assets/오징어땅콩.png" width="110px" height="110px">
															</div>
															<div class="product_right">
															    <div class="right_div">
    																<p>
    																    <span class="bbold">제품명 :</span> 오징어땅콩 </br>
    																    <span class="bbold">제조사 :</span> 오리온 제과 </br>
    																    <span class="bbold">나의 평점 :</span> 
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    </br>
    																 	<center>
    																 		<a href="/home/result"><button class="food_detail_btn">자세히 보기</button></a>
    																 	</center>
    																</p>
    															</div>
															</div>
															<div class="clearfix"> </div>
														</div>
														
														<div class="each_product">
															<div class="product_left">
																<img class="product_pic" src="/assets/쿠크다스.png" width="110px" height="110px">
															</div>
															<div class="product_right">
															    <div class="right_div">
    																<p>
    																    <span class="bbold">제품명 :</span> 쿠크다스 화이트 </br>
    																    <span class="bbold">제조사 :</span> 크라운 제과 </br>
    																    <span class="bbold">나의 평점 :</span> 
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    </br>
    																 	<center>
    																 		<a href="/home/result"><button class="food_detail_btn">자세히 보기</button></a>
    																 	</center>
    																</p>
    															</div>
															</div>
															<div class="clearfix"> </div>
														</div>
														
														<div class="each_product">
															<div class="product_left">
																<img class="product_pic" src="/assets/포카칩.png" width="110px" height="110px">
															</div>
															<div class="product_right">
															    <div class="right_div">
    																<p>
    																    <span class="bbold">제품명 :</span> 포카칩 오리지널 </br>
    																    <span class="bbold">제조사 :</span> 오리온 제과 </br>
    																    <span class="bbold">나의 평점 :</span> 
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    </br>
    																 	<center>
    																 		<a href="/home/result"><button class="food_detail_btn">자세히 보기</button></a>
    																 	</center>
    																</p>
																</div>
															</div>
															<div class="clearfix"> </div>
														</div>
														
														<div class="each_product">
															<div class="product_left">
																<img class="product_pic" src="/assets/도도한나쵸.png" width="110px" height="110px">
															</div>
															<div class="product_right">
																<div class="right_div">
																<p>
    																    <span class="bbold">제품명 :</span> 도도한 나쵸 오리지널 </br>
    																    <span class="bbold">제조사 :</span> 오리온 제과 </br>
    																    <span class="bbold">나의 평점 :</span> 
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    </br>
    																 	<center>
    																 		<a href="/home/result"><button class="food_detail_btn">자세히 보기</button></a>
    																 	</center>
    																</p>
																</div>
															</div>
															<div class="clearfix"> </div>
														</div>
												</div>
											</div>
										</div>
										<!-- 관심상품 끝-->
										
										<!-- 주의상품 -->
										<h2 class="small_menu_accordion small_menu_active" role="tab" aria-controls="smenu_item_1"><span class="small_menu_arrow"></span></h2>
										<div class="menu_tab_2 small_menu_content small_menu_content_active" aria-labelledby="smenu_item_1" style="display:block">
											<div class="menu_img">
												<div class="menu_each_product">
														
														<div class="each_product">
															<div class="product_left">
																<img class="product_pic" src="/assets/홈런볼.png" width="110px" height="110px">
															</div>
															<div class="product_right">
															    <div class="right_div">
    																<p>
    																    <span class="bbold">제품명 :</span> 홈런볼 저지방우유 </br>
    																    <span class="bbold">제조사 :</span> 해태 제과 </br>
    																    <span class="bbold">나의 평점 :</span> 
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    </br>
    																 	<center>
    																 		<a href="/home/result"><button class="food_detail_btn">자세히 보기</button></a>
    																 	</center>
    																</p>
    															</div>
															</div>
															<div class="clearfix"> </div>
														</div>
														
														<div class="each_product">
															<div class="product_left">
																<img class="product_pic" src="/assets/웨하스.png" width="110px" height="110px">
															</div>
															<div class="product_right">
															    <div class="right_div">
    																<p>
    																    <span class="bbold">제품명 :</span> 유기농 웨하스 </br>
    																    <span class="bbold">제조사 :</span> 크라운 제과 </br>
    																    <span class="bbold">나의 평점 :</span> 
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    </br>
    																 	<center>
    																 		<a href="/home/result"><button class="food_detail_btn">자세히 보기</button></a>
    																 	</center>
    																</p>
    															</div>
															</div>
															<div class="clearfix"> </div>
														</div>
														
														<div class="each_product">
															<div class="product_left">
																<img class="product_pic" src="/assets/아몬드후레이크.png" width="110px" height="110px">
															</div>
															<div class="product_right">
															    <div class="right_div">
    																<p>
    																    <span class="bbold">제품명 :</span> 아몬드 후레이크 </br>
    																    <span class="bbold">제조사 :</span> 동서 식품 </br>
    																    <span class="bbold">나의 평점 :</span> 
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    </br>
    																 	<center>
    																 		<a href="/home/result"><button class="food_detail_btn">자세히 보기</button></a>
    																 	</center>
    																</p>
																</div>
															</div>
															<div class="clearfix"> </div>
														</div>
														
														<div class="each_product">
															<div class="product_left">
																<img class="product_pic" src="/assets/젤리데이복숭아.png" width="110px" height="110px">
															</div>
															<div class="product_right">
																<div class="right_div">
																<p>
    																    <span class="bbold">제품명 :</span> 젤리데이 복숭아 </br>
    																    <span class="bbold">제조사 :</span> 오리온 제과 </br>
    																    <span class="bbold">나의 평점 :</span> 
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    </br>
    																 	<center>
    																 		<a href="/home/result"><button class="food_detail_btn">자세히 보기</button></a>
    																 	</center>
    																</p>
																</div>
															</div>
															<div class="clearfix"> </div>
														</div>
												</div>
											</div>
										</div>
										<!-- 주의상품 끝 -->
										
										<!-- 나의 리뷰 -->
										<h2 class="small_menu_accordion small_menu_active" role="tab" aria-controls="smenu_item_2"><span class="small_menu_arrow"></span></h2>
										<div class="menu_tab_1 small_menu_content small_menu_content_active" aria-labelledby="smenu_item_2" style="display:block">
											<div class="menu_img">
												<div class="menu_each_product">
														
														<div class="each_product">
															<div class="product_left">
																<img class="product_pic" src="/assets/아기꼬야.png" width="110px" height="110px">
															</div>
															<div class="product_right">
															    <div class="right_div">
    																<p>
    																    <span class="bbold">제품명 :</span> 아기꼬야 </br>
    																    <span class="bbold">제조사 :</span> 남양 유업 </br>
    																    <span class="bbold">나의 평점 :</span> 
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    </br>
    																 	<center>
    																 		<a href="/home/result"><button class="food_detail_btn">자세히 보기</button></a>
    																 	</center>
    																</p>
    															</div>
															</div>
															<div class="clearfix"> </div>
														</div>
														
														<div class="each_product">
															<div class="product_left">
																<img class="product_pic" src="/assets/브라우니.png" width="110px" height="110px">
															</div>
															<div class="product_right">
															    <div class="right_div">
    																<p>
    																    <span class="bbold">제품명 :</span> 마켓오 브라우니 </br>
    																    <span class="bbold">제조사 :</span> 오리온 제과 </br>
    																    <span class="bbold">나의 평점 :</span> 
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    </br>
    																 	<center>
    																 		<a href="/home/result"><button class="food_detail_btn">자세히 보기</button></a>
    																 	</center>
    																</p>
    															</div>
															</div>
															<div class="clearfix"> </div>
														</div>
														
														<div class="each_product">
															<div class="product_left">
																<img class="product_pic" src="/assets/빼빼로.png" width="110px" height="110px">
															</div>
															<div class="product_right">
															    <div class="right_div">
    																<p>
    																    <span class="bbold">제품명 :</span> 하미멜론 빼빼로 </br>
    																    <span class="bbold">제조사 :</span> 롯데 제과 </br>
    																    <span class="bbold">나의 평점 :</span> 
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    </br>
    																 	<center>
    																 		<a href="/home/result"><button class="food_detail_btn">자세히 보기</button></a>
    																 	</center>
    																</p>
																</div>
															</div>
															<div class="clearfix"> </div>
														</div>
														
														<div class="each_product">
															<div class="product_left">
																<img class="product_pic" src="/assets/바나나맛우유.png" width="110px" height="110px">
															</div>
															<div class="product_right">
																<div class="right_div">
																<p>
    																    <span class="bbold">제품명 :</span> 바나나맛우유 </br>
    																    <span class="bbold">제조사 :</span> 빙그레 </br>
    																    <span class="bbold">나의 평점 :</span> 
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    </br>
    																 	<center>
    																 		<a href="/home/result"><button class="food_detail_btn">자세히 보기</button></a>
    																 	</center>
    																</p>
																</div>
															</div>
															<div class="clearfix"> </div>
														</div>
												</div>
											</div>
										</div>
										<!-- 나의 리뷰 끝 -->
										
										</div>
									</div>
								</div>
						</div>
				</div>
			</div>
  </div>
</div>
</div>
<script src="/assets/jquery.nicescroll.js"></script>
<script src="/assets/scripts.js"></script>
</body>
</html>