
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<script type="text/javascript" language="JavaScript">
           var mobileKeyWords = new Array('iPhone', 'iPod', 'BlackBerry', 'Android', 
					'Windows CE', 'Windows CE;', 'LG', 'SAMSUNG', 
					'MOT', 'SonyEricsson', 'Mobile', 'Symbian', 
					'Opera Mobi', 'Opera Mini', 'IEmobile');
           for (var word in mobileKeyWords){
               if (navigator.userAgent.match(mobileKeyWords[word]) != null){
                         parent.window.location.href = "/home/index";
                   break;
                     }
           }
</script>
    <body>
		<div class="fit_main">
			<div class="main_frame second">
				<div class="main_frame">
					<iframe class="frame-border" src="/users/sign_in" frameborder="0" name="naver"></iframe>
				</div>
			</div>
		</div>
		<!--<div class="ohmy"> src="/home/index" -->
		<!--	<img class="logoduck ohmyduck" src="/assets/logoduck.gif" class="logoduck" alt=" " />-->
		<!--	<img src="/assets/logo_alpha.png" class="logo_alpha" alt=" " />-->
		<!--</div>-->
		
		<!--<div class="ohmy">-->
		<!--	<img class="logoduck ohmyduck" src="/assets/logoduck.gif" class="logoduck" alt=" " />-->
		<!--	<img src="/assets/logo_alpha.png" class="logo_alpha" alt=" " />-->
		<!--</div>-->
		<!--.ohmy_right {-->
  <!--  width: 28%;-->
  <!--  position: relative;-->
  <!--  top: -999px;-->
  <!--  right: -980px;-->
    </body>
