<body>
<div class="body-back">
	<div class="masthead pdng-stn1">
		
		<!--사이드바-->
		<div id="menu" class="sidenav" role="navigation">
			<div class="wrap-content">
				<div class="nav-menu text-center">
					<img class="nav-profile img-circle border-effect" src="/assets/ilguk.png" alt=" ">
						<img class="nav-camera" src="/assets/camera.gif" alt=" ">
						<p class="nav-nickname">삼둥파파</p>
						<button class="nav-proedit-btn">프로필 편집</button>
					<div>
						<img class="side-nemo" src="/assets/checklist.gif" alt=" ">
							<p class="side-nemo-label">체크리스트</p>
					</div>
					<div>
						<img class="side-nemo" src="/assets/qna.png" alt=" ">
							<p class="side-nemo-label">Q&A</p>
					</div>
					<div>
						<img class="side-nemo" src="/assets/setting.png" alt=" ">
							<p class="side-nemo-label">설정</p>
					</div>
					
						<div class="pro-menu">
							<div class="logo">
								<li><a class=" link link--yaku scroll active" href="#home"><span>H</span><span>o</span><span>m</span><span>e</span></a></li>
								<li><a class=" link link--yaku scroll" href="#about"><span>A</span><span>b</span><span>o</span><span>u</span><span>t</span></a></li>
								<li><a class=" link link--yaku scroll" href="#service"><span>S</span><span>e</span><span>r</span><span>v</span><span>i</span><span>c</span><span>e</span><span>s</span></a></li>
								<li><a class=" link link--yaku scroll" href="#recipes"><span>O</span><span>u</span><span>r</span> <span>R</span><span>e</span><span>c</span><span>i</span><span>p</span><span>e</span><span>s</span></a></li>
								<li><a class=" link link--yaku scroll" href="#gallery"><span>G</span><span>a</span><span>l</span><span>l</span><span>e</span><span>r</span><span>y</span></a></li>
								<li><a class=" link link--yaku scroll" href="#contact"><span>C</span><span>o</span><span>n</span><span>t</span><span>a</span><span>c</span><span>t</span></a></li>
							</div>
				

						</div>
				</div>
			</div>
		</div>
		
		
		<div class="phone-box wrap push">
		    
		    <!-- nav -->
			<div class="navtop">
				<div class="nav-left">
					<a href="#menu" class="menu-link"><img src="/assets/left-top.gif" class="nav-img"/></a>
				</div>
				<div class="nav-name">
					<h5 class="pro-link">FOODDUCK</h5>
				</div>
				<div class="nav-right">
				    <a href="/home/index"><img src="/assets/go-home.gif" class="nav-img"/></a>
					<div id="dd1" class="wrapper-dropdown-1" tabindex="1"><i class="fa fa-user"></i>
						<ul class="dropdown">
							<li><a href="#">Edit nav </a></li>
							<li><a href="#">Help</a></li>
							<li><a href="#">Activity log</a></li>
							<li><a href="/users/sign_out">Log Out</a></li>
						</ul>
							<script type="text/javascript">
														function DropDown(el) {
															this.dd = el;
															this.initEvents();
														}
														DropDown.prototype = {
															initEvents : function() {
																var obj = this;
											
																obj.dd.on('click', function(event){
																	$(this).toggleClass('active');
																	event.stopPropagation();
																});	
															}
														}
														$(function() {
											
															var dd = new DropDown( $('#dd1') );
											
															$(document).click(function() {
																// all dropdowns
																$('.wrapper-dropdown-1').removeClass('active');
															});
											
														});
							</script>
					</div>
				</div>
				<div class="clearfix"></div>
			</div> 
			
			<!--리얼 바디-->
			<div class="main-grid">
				<div class="main-shade">
						<div class="food_search">
								<form>
									<input type="search" value="검색어를 입력해주세요!" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '검색어를 입력해주세요!';}" required="">
									<input type="submit" value=" ">
									<div class="search_click"></div>
								</form>
						</div>
						<div class="search_rec">
								<p>
									<a href="http://m.naver.com" class="search_rec_k"> #아기과자 </a>
									<a href="http://m.naver.com" class="search_rec_k">#과자</a>
									<a href="http://m.naver.com" class="search_rec_k">#GMO</a>
									<a href="http://m.naver.com" class="search_rec_k">#감자칩</a>
								</p>
						</div>
				   
        			    <div class="food_article2">
        			        <table border="0" width="400" class="food_article_table_c">
                            <tr>
                            <td rowspan='3'align='center'><div style = 'top: 50%; right:20%'><img src='/assets/KakaoTalk_Photo_2016-07-27-18-54-12.png' height="125" width="125"></div></td>
                            <td class='indent'rowspan='3'>제품명: 오징어땅콩</br>블라블라브라</td>
                            </tr>
                            
                      
                      </table>
        		        </div>
        		        
        		        <div class="foot">
        		        	
        		        </div>
				</div>	    
			    
			</div>
			
		
				
  </div>
</div>
</div>
<script src="/assets/jquery.nicescroll.js"></script>
<script src="/assets/scripts.js"></script>
</body>
</html>