<body>
<div class="body-back">
	<div class="masthead pdng-stn1">
		
		<!--사이드바-->
		<div id="menu" class="sidenav" role="navigation">
			<div class="wrap-content">
				<div class="nav-menu text-center">
					<img class="nav-profile img-circle border-effect" src="/assets/ilguk.png" alt=" ">
					<img class="side-go nav-camera" onclick="DoNav('/home/myprofile')" src="/assets/camera.gif" alt=" ">
						<p class="nav-nickname">삼둥파파</p>
						<button class="nav-proedit-btn" onclick="DoNav('/home/myprofile')">프로필 편집</button>
					
					<div class="side-go" onclick="DoNav('/home/myfood')">
						<img class="side-nemo" src="/assets/my_food.png" alt=" ">
							<p class="side-nemo-label">마이푸드</p>
					</div>	
					<div class="side-go" onclick="DoNav('/home/checklist')">
						<img class="side-nemo" src="/assets/checklist.gif" alt=" ">
							<p class="side-nemo-label">체크리스트</p>
					</div>
					<div class="side-go" onclick="DoNav('/home/qna')">
						<img class="side-nemo" src="/assets/qna.png" alt=" ">
							<p class="side-nemo-label">Q&A</p>
					</div>
					<div class="side-go" onclick="DoNav('/home/setting')">
						<img class="side-nemo" src="/assets/setting.png" alt=" ">
							<p class="side-nemo-label">설정</p>
					</div>

				</div>
				</div>
			</div>
		</div>
		
		
		<div class="phone-box wrap push">
		    
		    <!-- nav -->
			<div class="navtop">
				<div class="nav-left">
					<a href="#menu" class="menu-link"><img src="/assets/left-top.gif" class="nav-img"/></a>
				</div>
				<div class="nav-name">
					<a href="/home/product_detail" style="text-decoration: none"><h5 class="pro-link uuuset"> SEARCH </h5></a>
				</div>
				<div class="nav-right">
				    <a href="/home/index"><img src="/assets/go-home.gif" class="nav-img"/></a>
					
				</div>
				<div class="clearfix"></div>
			</div> 
			
			<!--리얼 바디-->
			<div class="main-grid">
				<div class="main-shade">
						<div class="food_search">
								<form>
									<input type="search" placeholder="검색어를 입력해주세요!" >
									  <a href="/home/product_detail"><input type="submit" value=" "></a>
  									<div class="search_click" onclick="DoNav('/home/product_detail')"></div>
								</form>
						</div>
						<div class="search_rec">
								<p>
									<a class="search_rec_k"> #아기과자 </a>
									<a class="search_rec_k">#과자</a>
									<a class="search_rec_k">#GMO</a>
									<a class="search_rec_k">#감자칩</a>
								</p>
						</div>
				   
        			    <div class="menu_img">
												<div class="menu_each_product">
														
														<div class="each_product">
															<div class="product_left">
																<img class="product_pic" src="/assets/오징어땅콩.png" width="110px" height="110px">
															</div>
															<div class="product_right">
															    <div class="right_div">
    																<p>
    																    <span class="bbold">제품명 :</span> 오징어땅콩 </br>
    																    <span class="bbold">제조사 :</span> 오리온 제과 </br>
    																    <span class="bbold">전체 평점 :</span> 
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    </br>
    																 	<center>
    																 		<a href="/home/result"><button class="food_detail_btn">자세히 보기</button></a>
    																 	</center>
    																</p>
    															</div>
															</div>
															<div class="clearfix"> </div>
														</div>
														
														<div class="each_product">
															<div class="product_left">
																<img class="product_pic" src="/assets/쿠크다스.png" width="110px" height="110px">
															</div>
															<div class="product_right">
															    <div class="right_div">
    																<p>
    																    <span class="bbold">제품명 :</span> 쿠크다스 화이트 </br>
    																    <span class="bbold">제조사 :</span> 크라운 제과 </br>
    																    <span class="bbold">전체 평점 :</span> 
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    </br>
    																 	<center>
    																 		<a href="/home/result"><button class="food_detail_btn">자세히 보기</button></a>
    																 	</center>
    																</p>
    															</div>
															</div>
															<div class="clearfix"> </div>
														</div>
														
														<div class="each_product">
															<div class="product_left">
																<img class="product_pic" src="/assets/포카칩.png" width="110px" height="110px">
															</div>
															<div class="product_right">
															    <div class="right_div">
    																<p>
    																    <span class="bbold">제품명 :</span> 포카칩 오리지널 </br>
    																    <span class="bbold">제조사 :</span> 오리온 제과 </br>
    																    <span class="bbold">전체 평점 :</span> 
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    </br>
    																 	<center>
    																 		<a href="/home/result"><button class="food_detail_btn">자세히 보기</button></a>
    																 	</center>
    																</p>
																</div>
															</div>
															<div class="clearfix"> </div>
														</div>
														
														<div class="each_product">
															<div class="product_left">
																<img class="product_pic" src="/assets/도도한나쵸.png" width="110px" height="110px">
															</div>
															<div class="product_right">
																<div class="right_div">
																<p>
    																    <span class="bbold">제품명 :</span> 도도한 나쵸 오리지널 </br>
    																    <span class="bbold">제조사 :</span> 오리온 제과 </br>
    																    <span class="bbold">전체 평점 :</span> 
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    </br>
    																 	<center>
    																 		<a href="/home/result"><button class="food_detail_btn">자세히 보기</button></a>
    																 	</center>
    																</p>
																</div>
															</div>
															<div class="clearfix"> </div>
														</div>
												</div>
											</div>
										</div>
                        
        		        <div class="foot22">
        		        	
        		        </div>
				</div>	    
			    
			</div>
			
		
				
  </div>
</div>
</div>
<script src="/assets/jquery.nicescroll.js"></script>
<script src="/assets/scripts.js"></script>
</body>
</html>