
<div class="body-back">
	<div class="masthead pdng-stn1">
		
		<!--사이드바-->
		<div id="menu" class="sidenav" role="navigation">
			<div class="wrap-content">
				<div class="nav-menu text-center">
					<img class="nav-profile img-circle border-effect" src="/assets/ilguk.png" alt=" ">
						<img class="side-go nav-camera" onclick="DoNav('/home/myprofile')" src="/assets/camera.gif" alt=" ">
						<p class="nav-nickname">삼둥파파</p>
						<button class="nav-proedit-btn" onclick="DoNav('/home/myprofile')">프로필 편집</button>
					
					<div class="side-go" onclick="DoNav('/home/myfood')">
						<img class="side-nemo" src="/assets/my_food.png" alt=" ">
							<p class="side-nemo-label">마이푸드</p>
					</div>	
					<div class="side-go" onclick="DoNav('/home/checklist')">
						<img class="side-nemo" src="/assets/checklist.gif" alt=" ">
							<p class="side-nemo-label">체크리스트</p>
					</div>
					<div class="side-go" onclick="DoNav('/home/qna')">
						<img class="side-nemo" src="/assets/qna.png" alt=" ">
							<p class="side-nemo-label">Q&A</p>
					</div>
					<div class="side-go" onclick="DoNav('/home/setting')">
						<img class="side-nemo" src="/assets/setting.png" alt=" ">
							<p class="side-nemo-label">설정</p>
					</div>

				</div>
				</div>
			</div>
		</div>
		
		
		<div class="phone-box wrap push">
		    
		    <!-- nav -->
			<div class="navtop">
				<div class="nav-left">
					<a href="#menu" class="menu-link"><img src="/assets/left-top.gif" class="nav-img"/></a>
				</div>
				<div class="nav-name">
					<h5 class="pro-link qqqq">Q&A</h5>
				</div>
				<div class="nav-right">
				    <a href="/home/index"><img src="/assets/go-home.gif" class="nav-img"/></a>
					
				</div>
				<div class="clearfix"></div>
			</div> 
			
			<!--리얼 바디-->
			<div class="main-grid">
				<div class="main-shade">
        			    <div class="noticeee_label">
        		         	<p> 자주하는 질문
        		         	<button class="noticeee_label_btn qq1_btn_left">더 보기</button>
        		         	</p>
        		     	</div>  
        			    <div class="noticeee">
        			    	<table border="0" width="400" class="noticeee_table">
	                            <tr>
	                            <td class="noticeee_line indent">회원가입을 다시하고 싶으면 어떻게 하...</td>
	                            </tr>
	                            <tr>
	                            <td class="noticeee_line indent">업데이트 이후로 앱이 정상적으로 작동...</td>
	                            </tr>
	                            <tr>
	                            <td class="noticeee_line indent">선호하는 리뷰들은 어디가면 볼 수 있나요?</td>
	                            </tr>
	                            <tr>
	                            <td class="noticeee_line indent">프로필 변경은 어떻게 하나요?</td>
	                            </tr>
	                            <tr>
	                            <td class="indent">푸드덕 회원탈퇴는 어디서 하나요?</td>
	                            </tr>
                      		</table>
        		        </div>
        		        
        		         <div class="introduce_label">
        		         	<p> 묻고 답해요
        		         	<button class="noticeee_label_btn qq_btn_left">더 보기</button>
        		         	</p>
        		         </div>
        		         <div class="noticeee">
        			     	<table border="0" width="400" class="noticeee_table">
	                            <tr>
	                            <td class="noticeee_line indent">아토피를 앓고있는 3살 애기엄마에요</td>
	                            </tr>
	                            <tr>
	                            <td class="noticeee_line indent">가격대비 아이 몸에 좋은 과자 추천받아요.</td>
	                            </tr>
	                            <tr>
	                            <td class="noticeee_line indent">OO제과 제품을 먹은 후 배탈났어요.</td>
	                            </tr>
	                            <tr>
	                            <td class="noticeee_line indent">오징어 알레르기 있으신 분? 오징어땅콩...</td>
	                            </tr>
	                            <tr>
	                            <td class="indent">천연성분으로 만들어진 젤리 없나요?</td>
	                            </tr>
                      		</table>
        		        </div>
        		        
        		        <div class="ddddd" style="background:white; height:30px;"></div>
        		        
        		        <div class="foot">
        		        	
        		        </div>
				</div>
			</div>
				
  </div>
</div>
</div>

<script src="/assets/jquery.nicescroll.js"></script>
<script src="/assets/scripts.js"></script>

