
<body>
<div class="body-back">
	<div class="masthead pdng-stn1">
		
				<!--사이드바-->
		<div id="menu" class="sidenav" role="navigation">
			<div class="wrap-content">
				<div class="nav-menu text-center">
						<img class="nav-profile img-circle border-effect" src="/assets/ilguk.png" alt=" ">
					<img class="side-go nav-camera" onclick="DoNav('/home/myprofile')" src="/assets/camera.gif" alt=" ">
						<p class="nav-nickname">삼둥파파</p>
						<button class="nav-proedit-btn" onclick="DoNav('/home/myprofile')">프로필 편집</button>
					
					<div class="side-go" onclick="DoNav('/home/myfood')">
						<img class="side-nemo" src="/assets/my_food.png" alt=" ">
							<p class="side-nemo-label">마이푸드</p>
					</div>	
					<div class="side-go" onclick="DoNav('/home/checklist')">
						<img class="side-nemo" src="/assets/checklist.gif" alt=" ">
							<p class="side-nemo-label">체크리스트</p>
					</div>
					<div class="side-go" onclick="DoNav('/home/qna')">
						<img class="side-nemo" src="/assets/qna.png" alt=" ">
							<p class="side-nemo-label">Q&A</p>
					</div>
					<div class="side-go" onclick="DoNav('/home/setting')">
						<img class="side-nemo" src="/assets/setting.png" alt=" ">
							<p class="side-nemo-label">설정</p>
					</div>
				</div>
				</div>
			</div>
		<div class="phone-box wrap push">
		    <!-- nav -->
			<div class="navtop">
				<div class="nav-left">
					<a href="#menu" class="menu-link"><img src="/assets/left-top.gif" class="nav-img"/></a>
				</div>
				<div class="nav-name">
					<h5 class="pro-link nav_prof">PROFILE</h5>
				</div>
				<div class="nav-right">
				    <a href="/home/index"><img src="/assets/go-home.gif" class="nav-img"/></a>
				</div>
				<div class="clearfix"></div>
			</div> 
			
			<!--리얼바디-->
	
			
			
	<div class="main-grid">
		<div class="main-shade">
			<div class="food_search">
								<form>
									<input type="search" value="검색어를 입력해주세요!" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '검색어를 입력해주세요!';}" required="">
									<input type="submit" value=" ">
									<div class="search_click"></div>
								</form>
						</div>
						<div class="search_rec">
								<p>
									<a href="http://m.naver.com" class="search_rec_k"> #아기과자 </a>
									<a href="http://m.naver.com" class="search_rec_k">#과자</a>
									<a href="http://m.naver.com" class="search_rec_k">#GMO</a>
									<a href="http://m.naver.com" class="search_rec_k">#감자칩</a>
								</p>
						</div>
				   
        			    <div class="menu_img">
												<div class="menu_each_product">
														
														<div class="each_product_detail">
															<div class="product_left">
																<img class="product_pic" src="/assets/오징어땅콩.png" width="110px" height="110px">
															</div>
															<div class="product_right">
															    <div class="right_div">
    																<p>
    																    <span class="bbold">제품명 :</span> 오징어땅콩 </br>
    																    <span class="bbold">제조사 :</span> 오리온 제과 </br>
    																    <span class="bbold">리뷰평점 :</span> 
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_colored" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    <img src="/assets/star_non" width="15" height="15" class="star_review">
    																    </br>
    																    <span class="bbold"> #아이과자 #오리온 #오징어땅콩 #해산물 #첨가물</span>
    																</p>
    															</div>
															</div>
															<div class="clearfix"> </div>
															
														<div class="detail">
															<div class="detail" id="about">
																<div class='kkk'>
																	<div class='kkkk'>
																		<div class="info" style="height:27px">
																			<h3 class = result_info>제품성분 정보</h3>
																		</div>
																	</div>
																</div>
																<ul>
																	<li class='contents'>가공땅콩(중국산/땅콩,밀가루,물엿)</li>
																	<li class='contents'>찰옥수수전분(이탈리아산73%, 수입산27%)</li>
																	<li class='contents'>밀가루</li>
																	<li class='contents'>백설탕</li>
																	<li class='contents'>혼합식용유(해바라기유50%, 팜올레인유50%)</li>
																</ul>
															</div>
														</div>
												
														<div class="detail">
															<div class="detail" id="about">
																<div class='kkk'>
																	<div class='kkkk'>
																	</div>
																</div>
																<div class='information'>Image</div>
																<div class='information'>Contents</div>
															</div>
														</div>
												
														<div class="detail">
															<div class="detail" id="about">
																<div class='kkk'>
																	<div class='kkkk'>
																		<div class="info">
																			<h3>제품리뷰</h3>
																		</div>
																		<div class='kkkkk'>
																			<a href="/home/review"><button class="chanjun">자세히보기</button></a>
																		</div>
																	</div>
																</div>
																<p>Lorem ipsum Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit.</p>
															</div>
														</div>
												</div>
						
		</div>
	</div>
