/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/

ul.small_menu_list {
    border-bottom: 2px solid #ffd110;
}

.small_menu_item span{
        top: 3px;
    position: relative;
}

.nav-myfood-name {
    float: left;
    width: 33.333%;
    text-align: center;
}

.nav-myfood-name h5 {
	font-family: 'Noto Sans Korean','Montserrat';
	position: relative;	
	left: -2px;
    top: 2px;
    font-size: 26px;
    color: #fff;
}

/*자세히보기 버튼*/
.food_detail_btn {
    background-color: #FDD020;
    border: none;
    color: white;
    padding: 4px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 200;
    position: relative;
    bottom: 2px;
}

/*식품별 정보*/
.right_div p{
	font-family: 'Noto Sans Korean','Open Sans', sans-serif;    
    
}

h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol, li{margin: 0; padding: 0;}
p {margin: 0;padding: 0;}
body{	
	background: #ffd110;
	font-family: 'Noto Sans Korean','Open Sans', sans-serif;
	margin:0;
	background-size:cover;
	padding:0;
}

/*bold weight 지정 */
.bbold {
    font-weight: 600;
}

body p{
  font-family: 'Noto Sans Korean','Open Sans', sans-serif;
  
}
/*--fonts--*/
h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans Korean','Montserrat', sans-serif;
}
@font-face{
	font-family: 'Noto Sans Korean','Source Sans Pro';
	src:url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf) format('truetype');
}
.side-nav.leftside-navigation {
    top: 64px;
    overflow: hidden;
}

/*핸드폰폰 프레임*/
.frame-border{
    width: 411px;
    height: 750px;
    outline: none;
	border: solid 20px #000;
    border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-o-border-radius: 40px;
	-ms-border-radius: 40px;
    border-bottom: solid 80px #000;
    border-top: solid 60px #000;
}
.main_frame.second {
    height: 100%;
    background-color:rgb(255, 209, 16);
    padding: 5px;
    border-radius: 45px;
	-webkit-border-radius:45px;
	-moz-border-radius:45px;
	-o-border-radius:45px;
	-ms-border-radius:45px;
    margin-left: auto;
    margin-right: auto;
    width: 423px;
    height: 742px;
}

.fit_main{
	padding:50px 0;
	background-color: #ffd110;
}

/*--status-bar--*/
.body-back{
    background: #f7f7f7;
	font-family: 'Noto Sans Korean','Open Sans', sans-serif;
    margin: 0;

	}
.phn-status-bar{
    padding: 5px 0;
    background: #b377d9 !important;
}
.float-stn1{
    width: 33.3333333%;
    float: left;
}
.wrap {
position:relative;
}
.circles {
    text-align: center;
}
.circles ul{
    list-style-type: none;
    display: inline-block;
}
.circles ul li.circle {
    display: inline-block;
    background-color: #fff;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin: 5px 0px 0px 0px;
}
li.circle:nth-child(4),li.circle:nth-child(5) {
    background:transparent !important;
    border: 1px solid #fff;
    width: 9px;
    height: 9px;
}
.re-styl1 {
    color: #fff;
    font-size: 16px;
}
.time {
    text-align: center;
}
.time p {
    color: #fff;
    font-family: 'Noto Sans Korean',sans-serif;
    font-weight: 300;
    font-size: 15px;
}
.blutot-battery ul {
    list-style-type: none;
}
.blutot-battery ul li {
    display: inline-block;
}
.blutot-battery {
    text-align: center;
}
.blutot-battery li {
    color: #fff;
    font-family: 'Noto Sans Korean',sans-serif;
    font-weight: 300;
    font-size: 15px;
}
.fitness-app{
    background:#5d345a !important;
	}
.fitness-app h1{
	font-size:36px;
	text-align:center;
	display:none;
}
.fitness-app h1 a {
    color: #fff;
    text-decoration: none;
}
.clock ul li { 
    display: inline;
    font-size: 15px;
    text-align: center;
    color: #fff; 
}
.three_mid {
    float: left;
    width: 33.333%;
    text-align: center;
}
.three_left {
    float: left;
    width: 33.3333%;
    text-align: center;
}
h5.title_myfood {
    text-align: center;
    color: #fff;
    font-size: 21px;
}
.three_right {
    float: right;
    width: 33.3333%;
    text-align: center;
}
.three_right i{
    font-size: 20px;
    color: #fff;
}
.three_left i{
       font-size: 20px;
    color: #fff;
}
.wrapper-dropdown-2,.wrapper-dropdown-3,.wrapper-dropdown-1,.dont_know,.wrapper-dropdown-5,.wrapper-dropdown-6 {
    position: relative;
	outline: none;
    cursor: pointer;
}
.wrapper-dropdown-1 .dropdown ,.wrapper-dropdown-3 .dropdown,.dont_know .dropdown,.wrapper-dropdown-2 .dropdown ,.wrapper-dropdown-5 .dropdown {
	background-color: #FFF;
	width:171px;
	top:29px;
    position: absolute;
    right: 17%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    list-style: none;
    z-index:999;
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
	-moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
	-o-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    max-height: 0;
    overflow: hidden;
}

.wrapper-dropdown .dropdown li {
    position: relative; /* Enable absolute positioning for checkboxes */
}
.wrapper-dropdown-1 .dropdown li,.wrapper-dropdown-2 .dropdown li,.wrapper-dropdown-3 .dropdown li,.dont_know .dropdown li,.wrapper-dropdown-5 .dropdown li{
	border-bottom: 1px solid #F0F0F0;
	float: none;
	margin: 0;
	width: 100%;
    text-align: left;
}
.wrapper-dropdown-1 .dropdown li,.wrapper-dropdown-3 .dropdown li,.dont_know .dropdown li,.wrapper-dropdown-2 .dropdown li,.wrapper-dropdown-5 .dropdown li{
	padding:8px;
}
.wrapper-dropdown-1 .dropdown li:hover,.wrapper-dropdown-2 .dropdown li:hover ,.wrapper-dropdown-3 .dropdown li:hover ,.dont_know .dropdown li:hover,.wrapper-dropdown-5 .dropdown li:hover  {
	background:#FDFDFD;
}

.wrapper-dropdown-1 .dropdown li:last-child,.wrapper-dropdown-3 .dropdown li:last-child,.wrapper-dropdown-2 .dropdown li:last-child,.dont_know .dropdown li:last-child,.wrapper-dropdown-5 .dropdown li:last-child{
	border-bottom:none;
}
.wrapper-dropdown-1 .dropdown li a,.wrapper-dropdown-2 .dropdown li a,.wrapper-dropdown-3 .dropdown li a ,.dont_know .dropdown li a ,.wrapper-dropdown-5 .dropdown li a{
    display: block;
	text-decoration: none;
	color:#232323;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 0;
    border: none;
}
.wrapper-dropdown-1 .dropdown li a:hover, .wrapper-dropdown-2 .dropdown li a:hover, .wrapper-dropdown-3 .dropdown li a:hover, .dont_know .dropdown li a:hover, .wrapper-dropdown-5 .dropdown li a:hover{
	    color: #FFD110;
}
/* Active state */
.wrapper-dropdown-1.active:after,.wrapper-dropdown-2.active:after,.wrapper-dropdown-3.active:after,.dont_know.active:after,.wrapper-dropdown-5.active:after{
    border-width: 0 6px 6px 6px;
}
.wrapper-dropdown-1.active .dropdown,.wrapper-dropdown-2.active .dropdown,.wrapper-dropdown-3.active .dropdown ,.dont_know.active .dropdown,.wrapper-dropdown-5.active .dropdown {
   max-height: 400px;
}

.three_right span{
	color:#fff;
	font-size:15px;
	right:0;
}
.menu-notify {
    padding: 6px 0;
    background:#FFD110!important;
}

.panel {
    margin-bottom: 0px;
       background: rgb(30, 31, 33);
    width: auto;
    height: 780px !important;
    width: 15.625em !important;
    border: 0 solid transparent !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-align: left;
    padding: 34px 0px 0px;
	z-index:999;
}
.profile-menu img{
	width:46%;
}
.profile-menu{
	margin:25px 0;
}
.profile-menu h3 {
    color: #fff;
    font-size: 18px;
    margin: 20px 0 10px;
}
.profile-menu h4 {
    color: #fff;
    font-size: 14px;
}
.pro-menu .progress {
    height: 8px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.pro-menu .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #B377D9;
}
.pro-menu p{
	color:#fff;
	font-size:14px;
	text-align:left;
    margin-bottom: 8px;
}
.wrap-content {
    width: 87%;
    margin: 0 auto;
}
.pro-menu {
    margin-top: 30px;
}
.logo .link {
	outline: none;
	text-decoration: none;
	position: relative;
	line-height: 1;
	color: #fff;
	display:block;
	    font-size: 16px;
}

@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinAround {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}


@-webkit-keyframes toRightFromLeft {
	49% {
		-webkit-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toRightFromLeft {
	49% {
		-moz-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toRightFromLeft {
	49% {
		transform: translate(100%);
	}
	50% {
		opacity: 0;
		transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}



@-webkit-keyframes toLeftFromRight {
	49% {
		-webkit-transform: translate(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toLeftFromRight {
	49% {
		-moz-transform: translate(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toLeftFromRight {
	49% {
		transform: translate(-100%);
	}
	50% {
		opacity: 0;
		transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}



@-webkit-keyframes toTopFromBottom {
	49% {
		-webkit-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toTopFromBottom {
	49% {
		-moz-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toTopFromBottom {
	49% {
		transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}



@-webkit-keyframes toBottomFromTop {
	49% {
		-webkit-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toBottomFromTop {
	49% {
		-moz-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toBottomFromTop {
	49% {
		transform: translateY(100%);
	}
	50% {
		opacity: 0;
		transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}

/*-- //goals --*/
/*----- Section Content -----*/
.statistics{
    background: url(../images/stats.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;

}

.stat-shade{
	    background: #1C1B1B;
}
.small_menu {
    clear: both;
    padding: 50px 0;
}
.tab_box{
	background:#fd926d;
	padding: 2em;
}

.small_menu_list {
    text-align: center;
    list-style: none;
    margin: 0 0em 0;
    padding: 0;
    width: 55%;
    margin: 0 auto;
	background:#fff;
    font-weight: 200;
    font-family: 'Noto Sans Korean','Noto Sans Korean', 'Open Sans', sans-serif;
    
}
.small_menu_item{
	color:#fdd020;
	font-size: 1em;
	font-weight:600;
	cursor: pointer;
	    padding: 10px 0px;
	display: inline-block;
	margin: 0;
	text-align: center;
	list-style: none;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	margin: 0 0em 0;
	border-left:1px solid white;
    width: 32.7%;
}

.small_menu_active{
    text-shadow: none;
    color: #fdd020;
    /* background: #ffffff; */
    /* border-radius: 200px 200px 100px 100px; */
    /* border: 1px solid red; */
    border-bottom: 4px solid #fdd020;
}
.small_menu_container {
	padding: 0px;
	clear: left;
	
}
h2.small_menu_accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.small_menu_content {
	display: none;
}
.resp-content-active, .small_menu_accordion-active {
   display: block;
}
canvas#bar {
    width:100% !important;
    height: 230px !important;

}
p.tit-one:before{
    background: #A294E5;
    width: 13px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    content: "";
    margin: 0 4% 0 0;
}
p.tit-two:before{
    background: #B377D9;
    width: 13px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    content: "";
    margin: 0 4% 0 0;
}
.circle-text {
    float: left;
    width: 28%;
    margin: 0 2.6%;
}
.circle-text h4 {
    margin-top: 20px;
    font-size: 16px;
    color: #464646;
    text-align: center;
}

.big_menu
{
    margin: 15px 0px 15px 0px;
}

.small_menu_container
{
    background-color: #FFF;
}

.star_review
{
    padding: 0px;
    margin: -1.3px;
    margin-bottom: 4px;
}

.each_product
{
        border-bottom: 2px solid #ffd110;
	text-align: left;
	padding: 0 17px;
}

.product_left
{
	display: inline-block;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	    margin-top: 14px;
	    margin-bottom: 12px;
	       margin-left: 4px;
}

.product_pic
{
    display: inline-block;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.product_right
{
    border: 1px solid rgba(0, 0, 255, 0);
	display: inline-block;
	margin: 10px 0px 0px 0px;
	    margin-top: 17px;
}

.product_right p 
{
/*{*/
/*    border: 1px solid cyan;*/
    text-align: left;
    font-size: 1.05em;
    line-height: 1.45em;
    font-weight: 200;
    color: #616564;
	margin: 0px 0px 10px 10px;
	font-family: 'Noto Sans Korean', 'Open Sans', sans-serif;	
}

.more_about
{
    /*border: 1px solid red;*/
    width: 190px;
    height: 25px;
    background-color: #FDD020;
    border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.more_about p
{
    text-align: center;
    color: #FFF;
    margin: 0px;
}

/*.each_product:nth-child(3) {*/
/*    margin: 1.4em 0;*/
/*}*/
div#service {
    text-align: center;
	padding: 0em 0 1.2em 0;
}
.menu-notify2 {
    background: #000;
}
/* CSS3 Hover Effects */
.img-box, .gallery-text-box {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.img-box img, .gallery-text-box img {
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.img-box {
  position: relative;
}

.gallery-text-box {
  top: 0;
  left: 0;
  position: absolute;
}
.gallery-text-box .gallery-gal-text {
  display: block;
  position: relative;
  padding: 2%;
  float: left;
  left: 50%;
  top: 50%;
  position: relative;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.separator {
  display: block;
  position: relative;
  height: 1px;
  width: 60%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.5);
  clear: both;
}

.round-box {
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.round-box.bubble-effect, .round-box.flip-effect, .round-box.over-flip-effect, .round-box.flip-back-effect, .round-box.switch-3d-effect, .round-box.flip-forward-effect {
  overflow: visible;
}
.round-box .img-box, .round-box .gallery-text-box, .round-box .gallery-gal-text, .round-box img {
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.gallery-gal-effect {
  display: block;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  overflow: hidden;
}
.gallery-gal-effect .gallery-gal-text {
  z-index: 2 !important;
  filter: alpha(opacity=0);
  -wekbit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gallery-gal-effect .img-box:after, .gallery-gal-effect .img-box:before, .gallery-gal-effect .gallery-text-box:after, .gallery-gal-effect .gallery-text-box:before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -ms-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  filter: alpha(opacity=0);
  -wekbit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.gallery-gal-effect.horizontal .img-box:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.gallery-gal-effect.horizontal .img-box:after {
  top: 25%;
  left: 0;
  width: 100%;
  height: 25%;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.gallery-gal-effect.horizontal .gallery-text-box:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 25%;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.gallery-gal-effect.horizontal .gallery-text-box:before {
  top: 75%;
  left: 0;
  width: 100%;
  height: calc(25% + 1px);
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.gallery-gal-effect.vertical .img-box:before {
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.gallery-gal-effect.vertical .img-box:after {
  top: 0;
  left: 25%;
  width: 25%;
  height: 100%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.gallery-gal-effect.vertical .gallery-text-box:after {
  top: 0;
  left: 50%;
  width: 25%;
  height: 100%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.gallery-gal-effect.vertical .gallery-text-box:before {
  top: 0;
  left: 75%;
  width: calc(25% + 1px);
  height: 100%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.gallery-gal-effect:hover .img-box:after, .gallery-gal-effect:hover .img-box:before, .gallery-gal-effect:hover .gallery-text-box:after, .gallery-gal-effect:hover .gallery-text-box:before {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  filter: alpha(opacity=100);
  -wekbit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.gallery-gal-effect:hover .gallery-gal-text {
  filter: alpha(opacity=100);
  -wekbit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.slow-zoom .img-box {
  z-index: 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 2.2s ease-in-out;
  -moz-transition: all 2.2s ease-in-out;
  -ms-transition: all 2.2s ease-in-out;
  -o-transition: all 2.2s ease-in-out;
  transition: all 2.2s ease-in-out;
}
.slow-zoom:hover .img-box {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
.slow-zoom {
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*----*/
/*-- responsive media queries --*/
@media (max-width: 1440px){
	
}
@media (max-width: 1366px){
	
}
@media (max-width: 1280px){
input[type="file"] {
    left: 46%;
}	
}
@media (max-width: 1080px){
input[type="file"] {
    left: 45%;
}	
}
@media (max-width: 1024px){
	
}
@media (max-width: 991px){
	
}
@media (max-width: 800px){
  .goal-info {
		float: right;
		width: 60%;
	}
	.gal-gd {
		float: left;
		width: 33.3%;
		padding: 0 6px;
	}
	.gal-gd-sec {
		float: left;
		width: 50%;
		padding: 0 6px;
	}
	.gal-gd {
		margin-bottom: 0;
	}
	.gallery {
		padding: 0.5em 0 1em 0;
	}
	.c100 {
		text-align: center;
		margin: 0 auto;
	}
	.c100 > span {
		position: absolute;
		width: 100%;
		z-index: 1;
		left: 0;
		top: 0;
		width: 6.5em;
		line-height: 6.5em;
		font-size: .16em;
	}
}
@media (max-width: 768px){
	.wrapper-dropdown-1 .dropdown, .wrapper-dropdown-3 .dropdown, .dont_know .dropdown, .wrapper-dropdown-2 .dropdown, .wrapper-dropdown-5 .dropdown {
		right: 12%;
	}	
	
}
@media (max-width: 736px){
	.follow-left {
		float: left;
		width: 33.333%;
	}
	.goal-left {
		float: left;
		width: 50%;
	}
	.small_menu_list {
		width: 100%;
	}
	canvas#bar {
		height: 190px !important;
	}
	.circle-text {
		float: left;
    width: 27%;
		margin: 0 2.5%;
	}	

}
@media (max-width: 667px){
	.quality .fig-bor {
		padding: 1.4em 1em;
	}
	.quality figure {
		height: 183px;
	}	
	.small_menu_list {
		width: 100%;
	}
	.product_right {
		float: right;
		width: 61%;
		    margin-top: 17px;
	}
	.c100 {
		font-size: 120px !important;
	}
	.details-right p,.follow-left p,.goal-info p,.graph-right p,.parker-img p,.accordion p,.circle-text h4,.profile-menu h4,.menu-accor ul li a,.quality figcaption p {
		font-size: 13px;
	}
	.wrapper-dropdown-1 .dropdown li a, .wrapper-dropdown-2 .dropdown li a, .wrapper-dropdown-3 .dropdown li a, .dont_know .dropdown li a, .wrapper-dropdown-5 .dropdown li a{
		font-size: 13px;
	}
	.c100 > span {
		position: absolute;
		width: 100%;
		z-index: 1;
		left: 0;
		top: 0;
		width: 6.5em;
		line-height: 6.5em;
		font-size: .16em;
	}
}
@media (max-width: 640px){
	.follow-left {
		padding: 12px 0;
	}
	.quality figcaption h3 {
		padding: 10px 20px 0;
	}
	.quality figure {
		height: 175px;
	}
	canvas#bar {
		height: 141px !important;
	}
	.graph-left {
		float: left;
		width: 74%;
	}	
	.c100 > span {
		position: absolute;
		width: 100%;
		z-index: 1;
		left: 0;
		top: 0;
		width: 6.5em;
		line-height: 6.5em;
		font-size: .16em;
	}
}
@media (max-width: 600px){
	.quality figcaption h3 {
		padding: 0px 20px 0;
	}
	.quality figcaption p {
		padding: 5px 11px 0;
	}
	.quality .fig-bor {
		padding: .8em 1em;
	}
	.quality figure {
		height: 163px;
	}
	.accordion-section-title {
		padding: 10px 0;
	}
	.small_menu_list {
		width: 100%;
	}	
	.c100 {
		font-size: 115px !important;
	}
	.circle-text {
		float: left;
    width: 28%;
    margin: 0px 2%;
	}
	.menu_each_product {
		padding: 30px 30px;
	}
	.details-shade {
		padding: 55px 0 0;
	}
	.details-shade, .details-grid {
		min-height: 235px;
	}
	.goals h3 {
		font-size: 22px;
	}
	.parker-img {
		margin-top: 20px;
	}
	input[type="file"] {
		left: 43%;
		top: 43%;
		width: 80px;
		height: 80px;
		font-size: 4px;
	}
	.signup-banner {
		min-height: 240px;
	}
	.quality figure {
		height: 139px;
	}

}
@media (max-width: 568px){
	.quality .fig-bor {
		padding: .5em 1em;
	}
	.quality figure {
		height: 154px;
	}
	.goal-info {
		float: right;
		width: 54%;
	}	
	.small_menu_list {
		width: 100%;
	}
	.gal-gd, .gal-gd-sec {
		width: 67%;
		padding: 5px 5px;
		margin: 0px 7em;
	}
}
@media (max-width: 480px){
	input[type="file"] {
		left: 41%;
	}
	.like-icons ul li a {
		padding: 11px 13px;
	}
	.small_menu_list {
		width: 100%;
	}
	.c100 {
		font-size: 97px !important;
	}
	.program-left {
		float: left;
		width: 100%;
		padding: 0;
	}
	.quality figure {
		height: 240px;
	}
	.quality .fig-bor {
		padding: 2em 1em;
	}
	.quality figcaption h3 {
		padding: 11px 20px 0;
	}
	.quality figcaption p {
		padding: 41px 51px 0;
	}
	.quality figcaption h3 {
		font-size: 26px;
	}	
	.program-left:nth-child(3) {
		margin-top: 30px;
	}
	.product_left h5 {
		font-size: 1em;
	}
	.like-icons ul li a {
		padding: 9px 10px;
	}
	.like-icons ul li {
		padding: 23px 0 10px;
	}
	.like-icons ul li p {
		margin-top: 16px;
	}
	.goals h3 {
		font-size: 23px;
		
	}
	input.name ,input.email, input.password, input.number{
		font-size: 13px;
		padding: 9px;
	}
	.follow-left h3 {
		font-size: 20px;
	}
	.gal-gd, .gal-gd-sec {
		width: 74%;
		padding: 5px 5px;
		    margin: 0px 4em;
	}
	.goal-left {
		float: left;
		width: 94%;
	}
}
@media (max-width: 414px){
	.follow-left h3 {
		margin-bottom: 9px;
	}	
	.goal-left {
		float: left;
		width: 100%;
		padding: 0;
	}
	.goal-img {
		float: left;
		width: 41%;
	}
	.quality figcaption p {
		padding: 19px 22px 6px;
	}
	.quality figure {
		height: 215px;
	}
	.small_menu_item {
		font-size: 16px;
		width: 32.5%;
		font-weight: 200;
		font-family: 'Noto Sans Korean','Noto Sans Korean', 'Open Sans', sans-serif;
	}
	.menu_each_product {
		padding: 0px 0px;
	}
	.graph-left {
		float: left;
		width: 100%;
	}
	.graph-right {
		float: left;
		width: 100%;
	}
	.menu_each_product h3 {
		font-size: 21px;
	}
	.circle-text {
		float: left;
		width: 100%;
		margin: 0;
	}
	.circle-text {
		float: none;
    width: 45%;
		margin: 0 auto;
	}
	.details-right h3 {
		font-size: 20px;
	}
	.wrapper-dropdown-1 .dropdown, .wrapper-dropdown-3 .dropdown, .dont_know .dropdown, .wrapper-dropdown-2 .dropdown, .wrapper-dropdown-5 .dropdown {
		width: 114px;
	}
	.small_menu {
		    padding: 0px 0 0px 0;
	}
	.c100 {
		font-size: 125px !important;
	}
	.circle-text h4 {
		font-size: 16px;
	}
	.circle-text:nth-child(2) {
		margin: 22px auto;
	}
	.gal-gd, .gal-gd-sec {
		width: 74%;
		padding: 5px 5px;
		margin: 0px 3.5em;
	}
	.c100 > span {
		position: absolute;
		width: 100%;
		z-index: 1;
		left: 0;
		top: 0;
		width: 6.5em;
		line-height: 6.5em;
		font-size: .16em;
	}
}
@media (max-width: 384px){
	.quality figure {
		height: 203px;
	}
	.quality figcaption p {
		padding: 9px 22px 6px;
	}
	.menu_each_product h3 {
		font-size: 19px;
	}
	.pro-menu {
		width: 92%;
	}
	.accordion.menu-accor {
		width: 92%;
	}
	.search {
		width: 92%;
	}
	.search input[type="search"] {
		width: 79%;
	}
	.gal-gd, .gal-gd-sec {
		width: 74%;
		padding: 5px 5px;
		margin: 0px 3.5em;
	}
}
@media (max-width:375px){
	.gal-gd, .gal-gd-sec {
		width: 74%;
		padding: 5px 5px;
		margin: 0px 3em;
	}

}
@media (max-width: 360px){
	.blutot-battery li {
		font-size: 13px;
	}
	.re-styl1 {
		font-size: 14px;
	}
	.border-effect {
		padding: 5px;
	}
	.details-right h3 {
		    margin: 9px 0 9px;
	}	
	.follow-left h3 {
		font-size: 18px;
	}
	.circles ul li.circle {
		width: 7px;
		height: 7px;
	}
	.details-shade, .details-grid {
		    min-height: 238px;
    background-size: cover;
	}
	h5.title_myfood {
		font-size: 19px;
	}
	.quality figcaption p {
		padding: 14px 7px 0px;
	}
	.quality figcaption h3 {
		padding: 0px 20px 0;
	}
	.quality .fig-bor {
		padding: 1.7em 1em;
	}
	.quality figure {
		height: 177px;
	}
	.small_menu_list {
		width: 100%;
	}
	.small_menu_item {
		font-size: 12px;
		width: 32%;
	}
	.small_menu_list {
		    width: 100%;
	}
	.menu_each_product h3 {
		font-size: 17px;
	}
	canvas#bar {
		height: 127px !important;
	}
	.circle-text {
		float: none;
    width: 52%;
	}
	.product_left {
		float: none;
		    width: 29%;
		margin: 0 auto;
		    margin-top: 14px;
		    margin-bottom: 12px;
		        margin-left: 4px;
	}
	.product_right {
		float: none;
		width: 100%;
		margin-top: 17px;
		
	}
	.parker-img img {
		width: 34%;
	}
	.border-effect2 {
		padding: 6px;
	}
	.like-icons ul li {
		width: 18.8%;
	}
	input[type="file"] {
		left: 36%;
		top: 46%;
	}
	.signup-bottom input[type=submit] {
		padding: 11px 0;
	}
	.wrapper-dropdown-1 .dropdown, .wrapper-dropdown-3 .dropdown, .dont_know .dropdown, .wrapper-dropdown-2 .dropdown, .wrapper-dropdown-5 .dropdown {
		top: 26px;
	}
	.details-right h3 {
		    font-size: 23px;
	}
	.quality figcaption h3 {
		margin-top: 1px;
	}
	.quality figure {
		height: 169px;
	}
	.panel {
		overflow: overlay;
    height: 574px !important;
	}
	input[type="file"] {
		left: 38%;
		top: 29%;
	}
	.big_menu, .menu-notify2 ,.menu-notify{
		padding: 15px 0;
	}
	.logo .link {
		font-size: 14px;
	}
	.welcome p{
		font-size: 14px;
	}
	.gallery {
		padding: 0.5em 0;
	}
	.gal-gd, .gal-gd-sec {
		width: 81%;
		padding: 5px 5px;
		margin: 0px 2em;
	}
}